
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input id = "email" type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input id="pass" type="password" placeholder="Enter Password" name="psw" required>

        <button type="button" onclick="login();" id="submitBtn">Login</button>
       <p id="loginSuccess"></p>
       
       <p id="response"></p>
    </div>
    <script>
      
                async function login(){
                try{
                  const response = await fetch('https://localhost:5001/Login/Token', {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },              
                    body: JSON.stringify({
                    "email": document.getElementById("email").value ,
                    "password": document.getElementById("pass").value  
                    })
                    });
                    if(response.ok){
                        const jsonResponse = await response.json();
                        console.log(jsonResponse);

                        document.getElementById('loginSuccess').innerText = 'Login Successfull..'
                        document.getElementById('response').innerText = 'Your Token Is : ' + jsonResponse.token
                        
                    }
                    else{
                        document.getElementById('loginSuccess').innerText = 'Login Failed..'
                    }
                }

                      catch(error){
                            console.log(error.message)
                        }
               
            }

    </script>


